---
import { Image } from 'astro:assets';

const src = '/assets/img/ai-generated-portrait.webp';

/**
 * Image by flatart on Freepik
 * https://www.freepik.com/free-psd/portrait-girl-black-t-shirt-gray-background_132259808.htm
 *
 * Please replace the image with your own and update the alt text accordingly.
 */
---

<div class="flex justify-center items-center rounded-full border-4 border-gray-950">
	<Image
		src={src}
		alt="Selfie of me"
		width={156}
		height={156}
		class="animate-zoom-in-out rounded-full size-36 md:size-40 p-0.5 duration-300"
		loading="eager"
	/>
</div>
