---
/**
 * Update the details below to match your personal information
 */

enum DetailType {
	title = 'title',
	subtitle = 'subtitle',
	description = 'description',
}

const details: {
	type: DetailType;
	content: string;
}[] = [
	{
		type: DetailType.title,
		content: `Hi, I'm Hope`,
	},
	{
		type: DetailType.subtitle,
		content: 'Lead Data Science Engineer',
	},
	{
		type: DetailType.description,
		content: 'Exploring tech, one code line at a time. 🚀💻',
	},
];

const getClass = (type: DetailType) => {
	switch (type) {
		case DetailType.title:
			return 'font-sora text-4xl font-bold tracking-wide md:text-5xl animate-fade-up duration-300';
		case DetailType.subtitle:
			return 'text-xs font-light tracking-wide md:text-sm duration-300';
		case DetailType.description:
			return 'text-sm font-normal tracking-wide md:text-base animate-fade-in duration-300';
	}
};
---

<div
	class="grid grid-cols-1 place-content-center place-items-center gap-5"
>
	{details.map((detail) => <p class={getClass(detail.type)}>{detail.content}</p>)}
</div>
